.blog-card {
  width: 30%;
  min-height: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-card__image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  /* height: auto; */
}

.textContent {
  padding: 15px;
}

.blog-card_textContentContainer {
  padding: 10px;
}

.blog-card__title {
  color: #252525;
  font-size: 18px;
  margin-top: 8px;
  font-weight: 500;
}

.blog-card__title:hover {
  color: #ffb41d;
}

.blog-card__description {
  margin-top: 20px;
  color: #3f3f3f;
  font-size: 16px;
  font-weight: normal;
}

.modal-overlay-blog-card {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
}

.modal-content {
  position: relative;
  width: 60%;
  height: 90%;
  background-color: #fff;
  /* padding: 20px; */
  border-radius: 10px;
}

.modal-content_loading {
  width: 60%;
  height: 90%;
  /* padding: 20px; */
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.blog-Modal__image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.modal_textContent {
  margin-top: 10px;
  padding: 20px;
}

.scrollable-content {
  overflow-y: scroll;
  max-height: 200px; /* Adjust the height as needed */
}

/* Hide scrollbar */
.scrollable-content::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.noticeBox {
  margin-top: 10px;
  display: flex;
  font-size: 18px;
  color: #ffb41d;
  font-weight: 900;
  justify-content: center;
}

.modal-blog__description {
  font-size: 15px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 10; /* Number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.closeModalBox {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4c4c4c;
  margin-bottom: 10px;
}

.icon {
  width: 50%;
  height: 50%;
}
